.profile {
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 0;
}

.header {
	border-bottom: 1px solid #eee;
	padding-bottom: 40px;
	padding-top: 40px;
	margin-bottom: 20px;
	text-align: center;
}

.profile--avatar {
	float: right;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
