.sidebar {
  width: 350px;
  display: inline-block;
  padding-left: 15px;
}

.sidebar--inner {
  padding-left: 15px;
  padding-right: 15px;
}

.sidebar--heading {
  margin-top: 40px;
  font-family: $default-font-family;
  font-size: 1rem;
}

.tags a {
  background: $white;
  font-family: $default-font-family;
  padding: 5px 10px 5px 12px;
  border-radius: 3px;
  border: 1px solid $light-gray;
  font-size: 1rem;
  margin-right: 5px;
  margin-bottom: 8px;
  display: inline-block;

  &:hover {
    border: 1px solid $light-gray;
  }
}

.archives {
  margin-left: 0;

  & li {
    list-style: none;
  }
}

.archives .label {
  border-radius: 50%;
  text-align: center;
  border: 1px solid $light-gray;
  background: $white;
  color: $black;
  font-family: $default-font-family;
  vertical-align: text-top;
}

.archives .archive_date {
  font-family: $default-font-family;
  font-size: 1rem;
  margin-right: 5px;
  margin-bottom: 8px;
}
