.home--body {
	background: $off-white;
	@include breakpoint(large) {
		.row {
			max-width: 1040px;
		}
	}
}

img {
	width: 100%;
	max-width: 100%;
}

@each $name, $value in $button-sizes {
    .button.#{$name} {
			border-radius: calc(#{$value}*2)
		}
}

.wf-loading {
    visibility: hidden;
}

.wf-active, .wf-inactive {
  visibility: visible;
}

.hr--small {
	margin-top: 0;
}
