body {
  font-size: 120%;
}

@include breakpoint(medium) {
  body {
    font-size: 125%;
  }
}

h1 {
  font-weight: bold;
}

h2 {
  color: $dark-gray;
}

h5 {
  font-weight: bold;
}

.small {
  color: $medium-gray;
}

.caption {
  color: $medium-gray;
  font-size: 1rem;
}

button {
  font-family: $default-font-family;
}

blockquote {
  font-style: italic;
}

code {
  padding-top: 0rem;
}

pre {
  background: $lighter-gray;
  margin-bottom: 16px;
}

date,
.footer--text,
.read-more {
  color: $medium-gray;
  font-size: 1rem;
  margin: 0;
}

a date,
a .read-more {
  &:hover {
    color: $dark-gray;
  }
}

date,
.footer--text,
.caption {
  font-family: $default-font-family;
}

.dark {
  color: $black;

  &:hover {
    color: $primary-color;
  }
}
